.my-nav {
    max-width: 25rem;
}

button {
    min-width: 3rem;
}

.search-menu {
    margin: 0 auto;
}

.hr {
    border-top: 1px solid gray
}

:root[data-theme='light'] {
    --base-color: black;
    --base-background: #EDF2F7;
}

:root[data-theme='dark'] {
    --base-color: white;
    --base-background: #0D1117;
}

#tsparticles {
    width: 100%;
    height: 100%;
    z-index: -100;
}

.bounce-target {
    display: block;
    position: absolute;
    -webkit-animation: moveX 6s linear 0s infinite alternate, moveY 8s linear 0s infinite alternate;
    -moz-animation: moveX 6s linear 0s infinite alternate, moveY 8s linear 0s infinite alternate;
    -o-animation: moveX 6s linear 0s infinite alternate, moveY 8s linear 0s infinite alternate;
    animation: moveX 6s linear 0s infinite alternate, moveY 8s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: 95%;
    }
}

@-moz-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: 95%;
    }
}

@-o-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: 95%;
    }
}

@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: 95%;
    }
}

@-webkit-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: 95%;
    }
}

@-moz-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: 95%;
    }
}

@-o-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: 95%;
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: 95%;
    }
}