.my-nav {
    max-width: 25rem;
}

button {
    min-width: 3rem;
}

.search-menu {
    margin: 0 auto;
}


.hr {
    border-top: 1px solid gray
}

:root[data-theme='light'] {
    --base-color: black;
    --base-background: #EDF2F7;
}

:root[data-theme='dark'] {
    --base-color: white;
    --base-background: #0D1117;
}